body {
    background-color: #f3f8ff;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* HEADER */
.header {
    background-color: white;
    box-shadow: 0px 2px 4px #0000001a;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo {
    width: 45px;
    margin-right: 10px;
}

.logo-area h1 {
    font-size: 26px;
    font-weight: bold;
    color: #1d3557;
}

.logo-area span {
    color: #3ec5a8;
}

/* PROFILE CARD */
.profile-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.profile-card {
    background: white;
    width: 430px;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 10px #0000001a;
}

.profile-photo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #d6ecff;
}

.email {
    color: #5e6a7d;
    margin-top: -10px;
}

.info-box {
    margin-top: 20px;
    background: #e8f2ff;
    padding: 15px;
    border-radius: 15px;
    text-align: left;
    font-size: 15px;
}

.edit-btn {
    background: #3ec5a8;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 12px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}
